[Configuration]
ColorPalette=rgb(0,0,0);rgb(255,77,77);rgb(33,255,33);rgb(255,144,32);rgb(116,116,255);rgb(255,53,255);rgb(10,252,252);rgb(196,196,196);rgb(85,85,85);rgb(255,139,139);rgb(140,255,140);rgb(255,255,85);rgb(162,162,255);rgb(255,133,255);rgb(164,255,255);rgb(255,255,255)
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBellUrgent=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=FALSE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_BLOCK
MiscDefaultGeometry=80x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=FALSE
MiscMouseAutohide=FALSE
MiscMouseWheelZoom=TRUE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
MiscMiddleClickOpensUri=FALSE
MiscCopyOnSelect=FALSE
MiscDefaultWorkingDir=
MiscRewrapOnResize=TRUE
MiscUseShiftArrowsToScroll=FALSE
MiscSlimTabs=FALSE
BackgroundMode=TERMINAL_BACKGROUND_TRANSPARENT
ScrollingBar=TERMINAL_SCROLLBAR_NONE
FontName=Inconsolata 18
BackgroundDarkness=0.750000
ScrollingOnOutput=FALSE

