// theme: "Arc-Dark";
@theme "zero"

configuration {
  dpi: 1;
  location: 0;
  yoffset: 0;
  xoffset: 0;
  fixed-num-lines: true;

  modi: "combi,window,run,ssh";
  combi-modi: "window,drun,ssh";

  show-icons: true;
  font: "Inconsolata 16";

  tokenize: true;

  // old setting:
  /* monitor: -5; */ /* -5 == select the monitor that has the mouse pointer */
}

window {
  fullscreen: true;
  width: 100%;
  lines: 50;
  columns: 1;
  padding: 5;
}
